<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark my-5">
                <div class="card-body">
                    <h2 class="card-title text-center text-white py-3">Приложение для сообщений</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="input-group p-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Номер отправителя и номер получателя</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Номер отправителя" [(ngModel)]="sender">
                        <input type="text" class="form-control" placeholder="Номер получателя" [(ngModel)]="recipient">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="getMessages()">Фильтр
                            </button>
                            <button class="btn btn-outline-secondary" type="button" (click)="resetFilter()">Сброс
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Номер отправителя</th>
                            <th scope="col">Номер получателя</th>
                            <th scope="col">Статус сообщения</th>
                            <th scope="col">Текст сообщения</th>
                            <th scope="col">Дата доставки</th>
                            <th scope="col">Количество попыток доставки</th>
                            <th scope="col">Код ошибки</th>
                            <th scope="col">Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let message of messages">
                            <td>{{ message.senderNumber }}</td>
                            <td>{{ message.recipientNumber }}</td>
                            <td>{{ message.sent ? "Доставлено" : "Ошибка доставки" }}</td>
                            <td>{{ message.sent ? message.text : "" }}</td>
                            <td>{{ message.sent ? message.sentDate : "" }}</td>
                            <td>{{ message.sent ? "" : message.numberOfTries }}</td>
                            <td>{{ message.sent ? "" : message.errorCode }}</td>
                            <td>
                                <button (click)="deleteMessage(message)">Удалить</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item" *ngFor="let p of pages"><a class="page-link"
                                                                                 (click)="setSelected(p)">{{p
                                    + 1}}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>